@import 'tailwindcss';

/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant cv-dark (&:where(.dark, .dark *)) layer(utilities);

body {
  @apply cv-dark:bg-gray-900 cv-dark:text-white m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
