@reference '#global.css';

.root {
  @apply gap-4 p-10;
  display: flex;
  flex-direction: column;

  > h1 {
    @apply text-3xl font-bold;
  }
}

.form {
  @apply gap-4;
  display: flex;
  flex-direction: column;
}
