#
# Example .env file
#

# === Application ===

#SPRING_PROFILE=
PORT=8080

# === Session ===

#SESSION_COOKIE_DOMAIN=
#SESSION_COOKIE_SAME_SITE=
#SESSION_COOKIE_SECURE=
#SESSION_COOKIE_HTTP_ONLY=

# === Security ===

ACTUATOR_USERNAME=actuator
ACTUATOR_PASSWORD=123

# === Spring Boot Admin ===

# Could fallback to RENDER_EXTERNAL_URL
SERVICE_BASE_URL=http://localhost:8080
# Could fallback to RENDER_EXTERNAL_URL
MANAGEMENT_BASE_URL=http://localhost:8080

ADMIN_MONITOR_URL=http://localhost:8081
ADMIN_MONITOR_USERNAME=admin
ADMIN_MONITOR_PASSWORD=123

# === Database ===

DB_JDBC_URL=jdbc:postgresql://localhost:5432/electric?user=postgres&password=password

# === Liquibase ===

LIQUIBASE_COMMAND_CHANGELOG_FILE=src/main/resources/db/changelog/changelog-root.yaml

# === Electric ===

ELECTRIC_URL=http://localhost:4000
ELECTRIC_SECRET=password

# = = = = =
