spring:
  profiles:
    active: ${SPRING_PROFILE:dev}

  application:
    name: openapi-server

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none  # Hibernate will not manage schema; Liquibase handles it

    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-root.yaml

logging:
  level:
    org:
      springframework:
        security: ${LOG_LEVEL_SECURITY:INFO}  # default to INFO if not set
