@reference 'tailwindcss';

@scope (.button_root) to (:scope .children) {
  :scope {
    @apply gap-2;
    display: flex;
    width: fit-content;
    background-color: red;
    cursor: pointer;
  }

  p {
    color: blue;
  }
}
