@reference '#global.css';

.root {
  display: flex;
  flex-direction: column;
}

.input {
  @apply rounded border px-3 py-2;
  background-color: var(--color-input-bg);
  border-color: var(--color-input-border);
  color: var(--color-input-text);
  outline-style: none;
  transition: border-color 0.2s;

  &::placeholder {
    color: var(--color-input-placeholder);
  }

  &:focus-visible {
    border-color: var(--color-primary-text);
    box-shadow: 0 0 0 3px var(--color-ring);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-input-disabled-bg);
    color: var(--color-input-disabled-text);
    opacity: 0.8;
  }

  &.error {
    border-color: var(--color-error);

    &:focus-visible {
      /* We locally override the ring variable to a red version */
      --color-ring: color-mix(in srgb, var(--color-error), transparent 70%);
      box-shadow: 0 0 0 3px var(--color-ring);
    }
  }
}

.errorMessage {
  @apply mt-1 text-xs;
  color: var(--color-error);
}
